 table,tr,td{
    background-color: darkred;
    font-family: Verdana;
    color: black;
    border: 1px solid black;
    padding: 5px;
    border-collapse: collapse;
    border-color: #96D4D4;

 }

 td:nth-child(even), th:nth-child(even) {
  background-color: yellow;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 100%;
  height: 20vh;
}

.header {
  background: #0e0e0e;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  gap: 10px;
  padding: 0 15px;
}

.logo > img {
  height: 50px;
  border-radius: 50px;
}


.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.navigation > li {
  list-style: none;
  padding-left: 15px;
}

.navigation > li > a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  transition: .3s;
}


fieldset{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #FFD2D2;
    padding: 20px;
    background: springgreen;
    box-shadow: inset 0px 0px 15px #FFE5E5;
    -moz-box-shadow: inset 0px 0px 15px #FFE5E5;
    -webkit-box-shadow: inset 0px 0px 15px #FFE5E5;
 }

 h1 {
    
    font-size: 40px;
    background: #3498DB;
    border-radius: 15px;
    text-align: center;
    text-decoration-color: darkred;
    font-family: sans-serif;
 }

 

 footer {
  color: #EADDC4;
  text-align: center;
  font-size: .8em;
  padding: 1em;
}
nav, footer {
  font-family: verdana, sans-serif;
  background-color: black;
}

 @media screen and (min-width: 450px) {
   .light_blue, .green {
       width: 50%
   }
}
 

@media screen and (min-width: 550px) {
   .red {
       width: 33%;
   }
 
   .orange {
       width: 67%;
   }
}
 
@media only screen and (min-device-width: 400px) {
  body {
    background-image: url('915b1b4a05133186525a956d7ca5c142a3c3c9f3.jpg');
  }
}
